<nav>
  <div class="nav-wrapper">
    <div class="container-fluid">
      {{#link-to "index" class="brand-logo white-text"}}
        <img class="ember-logo hide-on-med-and-down" src="images/ember-logo.svg" alt="" />
        <span>Time Machine</span>
      {{/link-to}}
      <ul class="right hide-on-med-and-down">
        {{!-- {{#link-to "navbar" tagName="li"}}
         {{link-to "Navbar" "navbar"}}
        {{/link-to}} --}}
        <li>
          <a href="https://github.com/offirgolan/ember-time-machine" target="_blank" class="fa fa-github"></a>
        </li>
      </ul>
    </div>

    <a class="button-collapse" data-activates="sidenav">
      <i class="fa fa-menu"></i>
    </a>
  </div>

  <ul id="sidenav" class="side-nav">
    {{yield}}
  </ul>
</nav>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
